* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  max-width: 1200px;
}

.nav {
  background: black;
  color: white;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__header {
  padding: 10px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.nav__list li {
  padding: 15px;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  overflow-y: hidden;
  padding: 30px 0;
}

.catalog__list li {
  list-style: none;
  margin: 0 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 3px solid transparent;
}

.catalog__list li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.video {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 980px) {
  .video {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.video__player {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: black;
  max-height: -webkit-fill-available;
}

.video__legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.video__legend article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.video__legend article p {
  padding: 5px;
}
