* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav {
  background-color: #111;
  color: #818181;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__title {
  padding: 10px;
  font-size: 36px;
}

.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.header__nav__list li {
  font-size: 25px;
  padding: 15px;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav__list li:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.header__nav__list li a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav__list li a:visited {
  color: #818181;
}

.header__nav__list li a:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.header__nav__list li label:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.sidenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #818181;
}

.sidenav h3 {
  text-align: center;
  text-transform: uppercase;
}

.sidenav .log__list {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
}

.sidenav .log__list__item {
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid white;
  min-width: 250px;
}

.sidenav .log__list__item:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  overflow-y: hidden;
  margin: 0;
  padding: 30px 0;
}

.catalog__list li {
  list-style: none;
  margin: 0;
  padding: 0 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 3px solid transparent;
}

.catalog__list li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.video {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 980px) {
  .video {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
  }
}

.video__player {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: black;
  max-height: -webkit-fill-available;
}

.video__legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.video__legend article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.video__legend article p {
  padding: 5px;
}
