*{
	box-sizing: border-box;
	font-family:sans-serif;
}
html,body{
	margin:0;
	padding: 0;
	height: 100%;
	width:100%;
	overflow: 	auto;
	overflow-x: hidden;
	display: flex;
	flex-direction:column;
}
html{

    display: flex;
    justify-content: center;

	zoom:0.7;
}

.main,#main{
	

	display: flex;
	flex-direction: column;
	overflow: auto;
	flex:1;
}



