.main{
	
	
	// max-width: $break-large;
	display: flex;
	flex-direction: column;
	overflow: auto;

}

.catalog{
	display:flex;
	
	

	&__list{
		
		display: flex;
		overflow: auto;	
		overflow-y: hidden;
		margin: 0;
		padding: 30px 0;
		li{
			list-style: none;
			margin: 0 ;
			padding: 0 10px;
			transition: 0.3s;
			border: 3px solid transparent;
			&:hover{
				transform: 	scale(1.1);
				
			}
		}

	}
}

.video{
	flex:1;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	// background-color: #818181;
	@media screen and (min-width: $break-medium) {
	   flex-direction: row;
	   padding: 10px;
	}
	&__player{
		flex: 1;
		background: black;
		
		max-height: -webkit-fill-available;
		
	}
	&__legend{
		display: flex;
		flex: 1;
		padding: 10px;
		article{
			flex:1;
			p{
				padding: 5px;
			}
		}
	}
}