<main class="main" ng-controller="catalogCtrl">
  


 <section class="catalog" >
   <ul class="catalog__list">
     <li class="catalog__list__item " ng-if="movie.images[0].url" ng-value="{{movie}}"  ng-repeat ="movie in movieList">
     <img ng-src="{{ movie.images[0].url }}" onerror="this.src='http://via.placeholder.com/214x317'"/>
     </li>   
   </ul>
 </section>
 <section ng-if="currentMovie != undefined" class="video animated fadeInUp">
  <video class="video__player" height= '360' controls>
   <source ng-src="{{currentMovie.contents[0].url}}" type="video/mp4">
   <source src="" type="video/ogg">
   Your browser does not support HTML5 video.
  </video>
  <aside class="video__legend">
    <article>
      <header>
        <h3>{{currentMovie.title}}</h3>

      </header>
      <p><strong>Description: </strong></p>
      <p>{{currentMovie.description}}</p>
      <footer>footer</footer>
    </article>
  </aside>
 
 </section>
 </main>
 <script src="scripts/app.js"></script>
 <script src="scripts/services/dataService.js"></script>
 <script src="scripts/controllers/catalogCtrl.js"></script>
 <!-- <script src="scripts/controllers/videoCtrl.js"></script> -->