
<main  class="main" ng-controller="dashboardCtrl">
<div ng-include="'templates/snippets/_sidenav.html'"></div>  


 <section class="catalog" >
   <ul class="catalog__list">
     <li class="catalog__list__item " ng-if="movie.images[0].url" ng-value="{{movie}}" ng-repeat ="movie in movieList">
     <img ng-src="{{ movie.images[0].url }}" name="{{movie.id}}" onerror="this.src='http://via.placeholder.com/214x317'"/>
     </li>   
   </ul>
 </section>
 <section ng-if="currentMovie != undefined" class="video animated fadeInUp">
  <video class="video__player" height= '360' controls>
   <source ng-src="{{currentMovie.contents[0].url}}" type="video/mp4">
   <source src="" type="video/ogg">
   Your browser does not support HTML5 video.
  </video>
  <aside class="video__legend">
    <article>
      <header>
        <h3>{{currentMovie.title}}</h3>
      </header>
      <p><strong>Description: </strong></p>
      <p>{{currentMovie.description}}</p>
      <div class="video__legend__details">
      <p><b>Cast</b>: <span ng-repeat="person in currentMovie.credits"><br>
        <strong>{{person.role}} </strong>: {{person.name}} 
      </span></p>
      <p><b>Genre</b>: <span ng-repeat="category in currentMovie.categories"><br>{{category.title}} </span></p>
      </div>
      <button class="fullscreen_btn" ng-click="fullscreen()">View in Fullscreen</button>
    </article>
  </aside>
 
 </section>
 </main>

 <script>

</script>
